{# Not Javascript #}
{% include 'AppBundle::_noscript.html.twig' %}

{# Site Title #}
<div class="row">
    <div class="col-sm-10">
        <h1>{{ 'header.title'|trans }}</h1>
    </div>
    {% if is_granted('ROLE_USER') %}
        <div class="col-sm-2">
            <p class="text-right">{{ app.user.getName() }} さん ようこそ！</p>
        </div>
    {% endif %}
</div>
