{# コメント一覧 #}

<div id="commentBox">
{#
  <div id="commentList">
    <div class="comment">
      <figure class="image is-64x64">
        <img src="http://placehold.it/64x64">
      </figure>
      <span>名前</span>
    </div>
  </div>
#}
  {% include 'post/_comment_form.html.twig' %}
</div>