{# コメント一覧 #}

<div id="commentBox">

  <div id="commentList">
    {% for comment in post.getComments() %}
    <div class="comment">
      <span>{{ comment.content }} by {{ comment.authorName }}.</span>
    </div>
    {% endfor %}
  </div>

  {% include 'post/_comment_form.html.twig' %}
</div>