{# コメントフォーム #}

<div id="commentForm">
  <div class="tabs is-boxed">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon is-small"><i class="fa fa-comment" aria-hidden="true"></i></span>
          <span>コメント</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i></span>
          <span>プレビュー</span>
        </a>
      </li>
    </ul>
  </div>

  <div id="tabContent" class="container">
    <p class="control">
      <input class="input" type="text" placeholder="名前">
    </p>
    <p class="control">
      <textarea class="textarea" placeholder="コメント"></textarea>
    </p>
    <p class="control">
      <button class="button is-primary">Submit</button>
      <button class="button is-link">Clear</button>
    </p>
  </div>

</div>
