{# Not Javascript #}
{% include '::_noscript.html.twig' %}

{# nav menu #}
<nav>
    {% include '::_nav.html.twig' %}
</nav>

{# nav menu #}
<dir class="headerTop">
    ヘッダーコンテンツを表示
</dir>
<dir class="headerBottom">
    {% if is_granted('ROLE_USER') %}
        <p class="text-right">{{ app.user.getUsername() }} さん ようこそ！</p>
    {% endif %}
</dir>
