{% set flashBag = app.session.flashBag.all %}
{% if flashBag is not empty %}
<div id="message" class="container">
    {% for type, messages in flashBag %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{type}} m-b" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p class="lead">{{ ("message.lead." ~ type)|trans }}</p>
                <p>{{ message|raw|nl2br }}</p>
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}
