{# サイト内検索 #}
<aside class="sidebar_widget sidebar_find_widget">
    <h3 class="sidebar_widget_title">サイト内検索</h3>
    <div class="sidebar_widget_content">
        <form action="{{ path('post_find') }}" method="POST" {{ form_enctype(findForm) }}>
            {{ form_widget(findForm.content, {'attr': {'class': 'text-find'}}) }}
            <input type="submit" id="btn-find" class="btn-find" value="&#xf002;">
            {{ form_rest(findForm) }}
        </form>
    </div>
</aside>
