@charset "utf-8";

.no-js {
    display: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

// Container
.container.container-full {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.container.container-lg {
    max-width: 80%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
    margin-right: 10px;
}

// postEditor
.postEditor {
    input {
        border: 1px solid #b6b6b6;
        box-shadow: 0 0 3px rgba(0,0,0,.15);
        width: 100%;
    }
    input:focus {
        border: solid 1px #EEA34A;
    }
    textarea {
        border: 1px solid #b6b6b6;
        box-shadow: 0 0 3px rgba(0,0,0,.15);
        width: 100%;
    }
    textarea:focus {
        border: solid 1px #EEA34A;
    }
}
