{% extends '::layout.html.twig' %}

{% block title %}{{ 'post.title.edit'|trans }}{% endblock %}

{% block article %}
    <h1>{{ 'post.title.edit'|trans }}</h1>

    {% include '::post/_form.html.twig' %}

    {{ form_start(delete_form) }}
        {# <input type="submit" value="btn btn-danger"> #}
        <button type="button" class="btn btn-danger">削除</button>
    {{ form_end(delete_form) }}
{% endblock %}
