@charset "UTF-8";

@import "utilities/variables";
@import "../../../../../node_modules/font-awesome/scss/font-awesome";
@import "../../../../../node_modules/bulma/bulma";
@import "utilities/spaces";

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    // background: #e0e0e0;
}

.contents {
    // background: #e0e0e0;
    flex: 1;
}

.comment {
    display:flex;
}